body  {
    margin:0px 100px 0 100px;
    background-color: #E8BF6C;
}

h1 {
    color:lightgreen;
}

p  {
    font-family: "Verdana";
    font-size: 15px;
}

ul  {
    list-style-tipe: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li  {
    float: left;
}

a  {
    display: block;
    width: 60px;
    background-color: #dddddd;
}

div  {
    background-color: white;
    width: 800px;
    padding: 50px;
    border: 10px solid lightgrey;
    margin: 40px;
}    

input:not([type=button]) {
    background-color: lightgreen;
    width: 200px;
    display: block;
    margin-bottom: 10px;    
}

input[type=button]  {
    width: 100px;
    margin-left: 50px;
    display: block;
}