@charset "utf-8";
#top {
	background-color: #A80E10;
	text-align:center;
}
#wrapper {
	background-color: #EFF5F8;
	min-width: 50%;
	min-height: 50%;
	max-width: 100%;
	max-height: 100%;
}
#letter {
	max-width: 350px;
	max-height: 100px;
	display: inline;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}

#logo {
	max-width: 140px;
	max-height: 15%;
	margin-left: 5px;
	margin-top: 5px
}

#hero article h1 {
	color: #262323;
	font-family: arizonia;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

#hero article h2 {
	color: #262323;
	font-family: arizonia;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}


